*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Hubot Sans",sans-serif;
    background:#dfe8d0;
}

/* HEADER */

header{
    background:#849867;
    height:110px;

    display:flex;
    align-items:center;

    padding:0 20px;
}

.logo img{
    width:70px;
    height:70px;
    object-fit:contain;
}

nav{
    margin-left:20px;

    display:flex;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:black;
    font-size:18px;
}

/* PAGINA */

.container{
    display:flex;
    align-items:flex-start;
}

/* FILTERS */

.filters{
    width:250px;
    min-width:250px;

    background:#c6d6b0;

    padding:20px;

    border-right:2px solid black;

    min-height:calc(100vh - 180px);
}

.filters h2{
    font-size:32px;
    font-weight:normal;
    margin-bottom:20px;
}

.filters h3{
    margin-top:20px;
    margin-bottom:10px;
    font-size:22px;
    font-weight:normal;
}

.filters label{
    display:block;
    margin-bottom:10px;
    font-size:18px;
}

.filters input[type="text"]{
    width:100%;
    padding:8px;
    margin-bottom:10px;
}

.filters button{
    width:100%;
    padding:10px;
    margin-top:20px;

    background:#849867;
    color:white;

    border:none;
    cursor:pointer;
}

.filters button:hover{
    background:#6e8054;
}

/* RECEPTEN */

.recipes{
    flex:1;

    display:grid;

    grid-template-columns:
        repeat(auto-fill, minmax(320px, 1fr));

    gap:30px;

    padding:20px;
}

/* RECEPT */

.recipe-card{
    text-align:center;
}

.recipe-card img{
    width:100%;
    max-width:320px;

    height:180px;

    object-fit:cover;

    border:1px solid #333;
}

.recipe-card h2{
    margin-top:10px;
    font-size:20px;
    font-weight:normal;
}

.recipe-card p{
    margin-top:8px;
    line-height:1.5;
    font-size:14px;
}

.recipe-meta{
    margin-top:10px;

    display:flex;
    justify-content:center;
    gap:20px;
}

.recipe-link{
    text-decoration:none;
    color:black;
}

/* FOOTER */

footer{
    background:#849867;
    height:70px;

    display:flex;
    align-items:center;
    justify-content:center;
}

.admin-btn{
    padding:10px 20px;
    border:none;
    cursor:pointer;
}

/* RESPONSIVE */

@media(max-width:900px){

    .container{
        flex-direction:column;
    }

    .filters{
        width:100%;
        min-height:auto;
        border-right:none;
        border-bottom:2px solid #4a84c5;
    }

    .recipes{
        grid-template-columns:1fr;
    }

}